body {
    background-color: #262626;
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    background : url("./assets/images/background.jpg") no-repeat;
    background-size: cover;
}

button {
    height : 50px;
    width : 100px ;
    margin : -20px -50px;
    position: relative;
    top : 50%;
    left : 910px;
    margin-bottom : 20px;
    align-items: center;
}

audio {
    display : none;
}

#score{
    font-size: 50px;
    text-align: center;
}

#guitar {
    margin: auto;
}

.line {
    border : 1px solid transparent;
    height : 50px;
    width : 50px;
    display: inline;
    float: left;
    border-radius: 50%;
    margin: 10px;
}

.text {
    font-size : 30px;
}

#line-9 td {
    border : 1px solid #ffffff;
    height : 50px;
    width : 50px;
    border-radius: 50%;
}

#score {
    text-align : center ;
    font-size : 30px ;
}

td {
    border : 1px solid transparent;
    height : 50px;
    width : 50px;
    display: inline;
    float: left;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
}